@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: wonderQuason;
  src: url("https://fonts.cdnfonts.com/css/wondar-quason-free");
}
@font-face {
  font-family: josefinSans;
  src: url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.cdnfonts.com/css/wondar-quason-free");

* {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: #383838;
}

*::-webkit-scrollbar-thumb {
  background-color: #282828;
  border: 1px solid #383838;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
  height: 70%;

  background: transparent;
  word-break: break-all;
  /* border: 1px solid rgba(0, 0, 0, 0.274); */
}
.phone-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  word-break: break-all;
  /* border: 1px solid rgba(0, 0, 0, 0.274); */
}

.bloc-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.tabs {
  padding: 1rem;
  text-align: center;
  /* width: 13%; */
  cursor: pointer;
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  /* border-right: 1px solid rgba(0, 0, 0, 0.274); */
}

.active-tabs {
  background: none;
  border-bottom: 0.2rem solid #9f2420;
  color: #9f2420;
}

.content-tabs {
  flex-grow: 1;
  width: 100%;
}
.content {
  background: white;
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: none;
  background: transparent;
}

.active-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
}

.red-chevron-button:hover Image svg path {
  stroke: white;
}

/* Header Hover Effects */
.about-us-header:hover .about-us-block {
  display: flex;
  position: fixed;
  background: transparent;
  z-index: 30;
  top: 16.7vh;
  justify-content: space-around;
  align-items: center;
}
